$default-color: #000;
$white: #fff;
$yellow: rgb(255, 205, 1);
$yellowLight: #fdca4a;
$yellowLighter: #fdcc52;
$black: #323232;
$blackLighter: #343a40;
$blackWithOpacity1: rgba(0, 0, 0, 0.5);
$blackWithOpacity2: rgba(0, 0, 0, 0.1);
$whiteLight: rgb(166, 166, 166);
$blue: #007bff;
$grey: #6c757d;
$red: #ff3d41;
$backgroundRed: rgba(218, 36, 49, 1);
$backgroundPurple: rgba(122, 67, 151, 1);
