@font-face {
  font-family: "Catamaran";
  src: url(../../assets/fonts/Catamaran/static/Catamaran-Thin.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(../../assets/fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: "Muli";
  src: url(./fonts/Mulish/static/Mulish-Light.ttf);
  src: url(../../assets/fonts/Mulish/static/Mulish-Light.ttf);
}
